<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="VueBootstrapTypeahead.css" rel="stylesheet">
<link rel="stylesheet" href="bootstrap.min.css">
<script src="jquery.js"></script>
<script src="bootstrap.min.js" ></script>
<script src="vue-bootstrap-typeahead.min.js"></script>
<script src="vue.js"></script>
<script src="popper.min.js"></script>
<script src="app.js"></script>

</head>
<body>
<div id="container" class="container">
	<div class="row">
		<div id="col-md-12">
		<label for="distance">Distance:</label>
		<input id="distance" name="distance" v-model="distance_str">
		<span class="instructions">In miles, add K for kilometers, example 5K</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div id="video-container" class="col-md-12">
					<video  controls autoplay id="video">
					</video>
					<div id="time-overlay">0</div>
					<button v-for="b in overlay_buttons" class="overlay-button" :id="b.id"
						v-on:click="handle_click(b)">{{b.text}}</button>
					<div id="find-participant">
						<vue-bootstrap-typeahead
							onclick="event.target.value=''"
							:data="participants" :serializer="function (p) { return p.name}"
							@hit="set_current_participant($event)" placeholder="Search for participant"
						/>
					</div>
					<div id="goto-time">
					<input type="text" placeholder="Go to time" v-on:change="goto_time($event.target.value)"
						class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4" v-for="f in file_inputs">
					<input type="file"
						v-on:change="handle_file_select(f, $event)"
						class="hidden" :id="f.id">
					<label :for="f.id" class="file-button">{{f.prompt}}</label>
			</div>
			<div class="col-md-4">

				<button class="file-button" v-on:click="handle_export()">Export</button>
			</div>
			</div>
		</div>

		<div class="col-md-4">
			<table class="pretty-table">
			<tr><th>Name</th><th>Gender</th><th>Age</th><th>Time</th><th>Pace</th>
				<th v-for="s in splits">Split {{s}}</th>
			</tr>
			<tr v-for="p in participants"><td>{{p.name}}</td><td>{{p.gender}}</td>
				<td>{{p.age}}</td><td>{{get_time(p.time)}}</td><td>{{get_time(p.pace)}}</td>
				<td v-for="s in splits">{{p.splits[s]}}</td>
				</tr>
			</table>
			<span id="status"></span>
			<span id="error"></span>
		</div>
	</div>
</div>
</body>
</html>
